@model WebApplication2.Models.IndividualTraining

@{
    ViewBag.Title = "DetailIndividTraining";
}

<h2>DetailIndividTraining</h2>

<div>
    <h4>IndividualTraining</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditIndivTr", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "TrainerPanel")
</p>
